{% extends 'main.html' %}


{% block header_description %}

    <p class="site-description">
        Browse the list below for upcoming events in Nevada County. If you have an event that you'd like
        to share or see any inaccurate information, please get in touch at
        <a href="mailto:hello@thelistnc.org">hello@thelistnc.org</a>. This project is constantly evolving, so be sure to check
        back soon to see what's new. Thanks for visiting!
    </p>

{% endblock %}


{% block main_content %}

    {% include 'events/sort_options.html' %}
    {% include 'events/search.html' %}

    {% block event_list %}
    {% endblock %}

    <a href="#top" class="back-to-top">Back to top</a>

{% endblock %}
