{% load events_extras %}

<summary>{{ event.start_date|date:'l, F j, Y' }} at {{ event.venue }}</summary>
<div>
    <p class="title">
        <strong>Title:</strong> {{ event }}
    </p>
    <p class="location">
        <strong>Location:</strong> {{ event.venue }}
    </p>
    <p class="date">
        <strong>Date:</strong> {{ event.start_date|date:'l, F j, Y' }}
    </p>
    <p class="time">
        <strong>Time:</strong>
        {% if event.end_time %}
            {{ event.start_time | date:"fa" | remove_periods }} to {{ event.end_time | date:"fa" | remove_periods }}
        {% else %}
            {{ event.start_time | date:"fa" | remove_periods }}
        {% endif %}
    </p>

    {% if event.admission_price %}
        <p class="cost">
            <strong>Cost:</strong> {{ event.admission_price }}
        </p>
    {% endif %}

    {% if event.additional_info %}
        <p class="additional-info">
            <strong>Additional Info:</strong> {{ event.additional_info }}
        </p>
    {% endif %}

    {% if event.url %}
        <p class="url">
            <strong>Link:</strong> <a target="_blank" href="{{ event.url }}">{{ event.url|truncatechars:64 }}</a>
        </p>
    {% endif %}
</div>
