{% load events_extras %}

<!-- time -->
{% if not event.end_time %}
    <div class="time">{{ event.start_time | date:"fa" | remove_periods }}</div>
{% elif "12am" in event.start_time|date:"fa"|remove_periods and "12am" in event.end_time|date:"fa"|remove_periods %}
    <div class="time">TBD</div>
{% else %}
    <div class="time">{{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }}</div>
{% endif %}

<div class="details">
    <div>
        <!-- title -->
        <a href="{% url 'the_list' sorting='by-title' %}#events_{{ event.title|slugify }}" class="title">{{ event }}</a>

        <!-- venue -->
        <a href="{% url 'the_list' sorting='by-venue' %}#events_{{ event.venue|slugify }}" class="venue highlighted">{{ event.venue }}</a>

        <!-- city -->
        <span class="city">{{ event.city }}</span>

        <!-- extra info -->
        {% if event.admission_price and event.extra_info %}
            <span class="extras">{{ event.admission_price|lower }}, {{ event.extra_info }}</span>
        {% elif event.admission_price %}
            <span class="extras">{{ event.admission_price|lower }}</span>
        {% elif event.extra_info %}
            <span class="extras">{{ event.extra_info }}</span>
        {% endif %}

        <!-- url -->
        {% if event.url %}
            - <a href="{{ event.url }}" target="_blank" class="url">more info</a>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div class="event-admin-options">
            <a class="edit button" href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
            <a class="template button" href="{% url 'template_event_form' uuid=event.uuid %}">Use as template</a>
        </div>
    {% endif %}
</div>
