{% extends 'main.html' %}

{% block subtitle %}
    Events by date
{% endblock subtitle %}

{% block content %}

    {% include 'events/heading.html' %}

    <section>
        <nav class="sort-options">
            <span>By Date</span>
            <a href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
            <a href="{% url 'the_list' sorting='by-title' %}">By Title</a>
        </nav>

        {% for date, events in grouped_events %}
            <div class="event-group">
                <h2>{{ date | date:"l, F j" }}</h2>
                {% for event in events %}
                    <details>
                        {% include 'events/event_by_date.html' %}
                    </details>
                {% endfor %}
            </div>
        {% endfor %}
    </section>

{% endblock content %}
