{% extends 'main.html' %}

{% block subtitle %}
    Events by date
{% endblock subtitle %}

{% block content %}
    {% include 'events/hero.html' %}

    <section>
        <nav>
            <span>By Date</span>
            <a href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
            <a href="{% url 'the_list' sorting='by-title' %}">By Title</a>
        </nav>

        {% for date, events in grouped_events %}
            <div>
                <h2>{{ date | date:"l, F j" }}</h2>
                <ul>
                    {% for event in events %}
                        <li>{% include 'events/event_by_date.html' %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
