{% load events_extras %}

{% if event.url %}
    <a href="{{ event.url }}" target="_blank">{{ event }}</a>
{% else %}
    {{ event }}
{% endif %}

- {{ event.venue }},

{% if "12am" in event.start_time|date:"fa"|remove_periods and "12am" in event.end_time|date:"fa"|remove_periods %}
    {% if not event.admission_price and not event.extra_info %}{{ event.city }}{% endif %}
{% else %}
    {{ event.city }},
{% endif %}

{% if not event.end_time %}
    {% if event.admission_price or event.extra_info %}
        {{ event.start_time | date:"fa" | remove_periods }},
    {% else %}
        {{ event.start_time | date:"fa" | remove_periods }}
    {% endif %}
{% elif "12am" in event.start_time|date:"fa"|remove_periods and "12am" in event.end_time|date:"fa"|remove_periods %}
{% else %}
    {% if event.admission_price or event.extra_info %}
        {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }},
    {% else %}
        {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }}
    {% endif %}
{% endif %}

{% if event.admission_price and event.extra_info %}
    {{ event.admission_price }}, {{ event.extra_info }}
{% elif event.admission_price %}
    {{ event.admission_price }}
{% elif event.extra_info %}
    {{ event.extra_info }}
{% endif %}
