{% extends 'main.html' %}

{% block subtitle %}
    Events by venue
{% endblock subtitle %}

{% block header_content %}
    {% include 'events/heading.html' %}
{% endblock header_content %}

{% block main_content %}
    <nav class="sort-options">
        <a class="option" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
        <span class="option">By Venue</span>
        <a class="option" href="{% url 'the_list' sorting='by-title' %}">By Title</a>
    </nav>

    <section class="venues tags">
        {% for venue in venues %}
            <a href="#events_{{ venue|slugify }}" class="tag">{{ venue }}</a>
        {% endfor %}
    </section>

    <section class="events">
        {% for venue, events, num_events, city in grouped_events %}
            <div id="events_{{ venue|slugify }}" class="event-group">
                <header class="event-group-header">
                    <div class="event-group-heading">
                        <p class="city">{{ city }}</p>
                        <h2>{{ venue }}</h2>
                        <div class="heading-details">
                            <p class="num-events">{{ num_events }} event{{ num_events|pluralize }}</p>
                        </div>
                    </div>
                </header>
                <ul>
                    {% for event in events %}
                        <li class="event-row">
                            {% include 'events/event_by_venue.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

    <a href="#top" class="back-to-top">Back to top</a>
{% endblock main_content %}

{% block scripts %}
    <script defer src="{% static 'js/events.js' %}"></script>
{% endblock scripts %}
