{% extends 'main.html' %}

{% block subtitle %}
    Events by title
{% endblock subtitle %}

{% block content %}

    {% include 'events/heading.html' %}

    <section>
        <nav class="sort-options">
            <a href="{% url 'the_list' sorting='by-date' %}">By Date</a>
            <a href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
            <span>By Title</span>
        </nav>

        <div class="event-group">
            <ul class="event-group">
                {% for event in events %}
                    <li>
                        {% include 'events/event_by_title.html' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock content %}
