{% extends 'main.html' %}

{% block subtitle %}
    Events by title
{% endblock subtitle %}

{% block content %}
    {% include 'events/hero.html' %}

    <section>
        <nav>
            <a href="{% url 'the_list' sorting='by-date' %}">By Date</a>
            <a href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
            <span>By Title</span>
        </nav>

        {% for title, events in grouped_events %}
            <div>
                <h3>{{ title }}</h3>
                <ul>
                    {% for event in events %}
                        <li>{% include 'events/event_by_title.html' %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
