{% extends 'main.html' %}

{% block subtitle %}
    Events by venue
{% endblock subtitle %}

{% block content %}
    {% include 'events/hero.html' %}

    <section>
        <nav>
            <a href="{% url 'the_list' sorting='by-date' %}">By Date</a>
            <span>By Venue</span>
            <a href="{% url 'the_list' sorting='by-title' %}">By Title</a>
        </nav>

        {% for venue, events in grouped_events %}
            <div>
                <h3>{{ venue }}</h3>
                <ul>
                    {% for event in events %}
                        <li>{% include 'events/event_by_venue.html' %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
