{% extends 'main.html' %}

{% block content %}
    {% include 'hero.html' %}

    <section class="event-list">
        <nav>
            <a class="sort-option" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
            <span class="sort-option active">By Venue</span>
        </nav>

        {% for venue, events in grouped_events %}
            <div class="event-group">
                <h3>{{ venue }}</h3>
                <ul>
                    {% for event in events %}
                        <li>{% include 'events/event_by_venue.html' %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
