<div>
    <h1>Events by venue</h1>
    <p>
        Browse the list below for upcoming events in Nevada County, organized alphabetically by venue name. From
        festivals and farmer's markets to trivia nights and live performances,
        there's something for everyone to enjoy. Listings are updated regularly, so be sure to check back soon to see what's new!
    </p>
    <p>
        This database is maintained by a team of local volunteers and we do our
        best to make sure the information provided is accurate and up-to-date. If
        you're interested in contributing, see any inaccurate information, have
        an event that you'd like to share with us, or have any suggestions to help
        improve this project, please don't hesitate to reach out at
        <a href="mailto:hello@thelistnc.org">hello@thelistnc.org</a>. Your support
        is greatly appreciated and we hope you enjoy your visit.
    </p>
</div>
