form {
    margin: 3rem 0 1.5rem;

    fieldset {
        border: none;
    }

    input {
        font-size: 1rem;
        padding: 0.75rem 0;
        border: none;
        border-bottom: 1px solid #aaa;
    }

    input::placeholder {
        color: #999;
    }

    input[type='datetime-local'] {
        font-family: inherit;
        font-size: inherit;
    }

    input:focus {
        outline: none;
        border-bottom: 1px solid var(--black);
    }

    button, input[type='submit'] {
        padding: 0.75rem;
        border-radius: 0.25rem;
        border: 1px solid var(--black);
    }

    input[type='email'],
    input[name='otp'] {
        max-width: 360px;
        margin-right: 0.75rem;
    }

    input[type='submit'] {
        max-width: 80px;
    }

    p {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    p label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.75rem;
    }
}

form.event {
    display: flex;
    flex-direction: column;
    margin: 4.5rem 0 3rem;

    input[type='submit'] {
        margin-top: 1.5rem;
        width: fit-content;
        padding: 0.75rem 1.5rem;
        background: var(--black);
        color: var(--white);

    }
}

main p:has(+ h2) {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    font-weight: 700;
}

main h2 {
    margin-bottom: 0.75rem;
    margin-top: 6rem;
}

main h2 + p {
    max-width: 480px;
    line-height: 1.5;
    margin-bottom: 3rem;
}

main a.delete.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 0.25rem;
    color: var(--black);
}
