.site-header h1.logo {
    margin-bottom: 0;
}

.buttons {
    display: grid;
    gap: var(--space-1);
}

.buttons a.button,
.buttons button {
    align-items: center;
    background: var(--color-2);
    border: 1px solid var(--color-3);
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--color-2);
    color: inherit;
    cursor: pointer;
    display: grid;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    grid-template-columns: 4ch 1fr;
    padding: var(--space-1);
    text-decoration: none;
    text-align: center;
    text-align: left;
    width: 100%;
}
