.site-header h1.logo {
    margin-bottom: 0;
}

.buttons {
    display: grid;
    gap: var(--space-1);
}

.buttons a.button,
.buttons button {
    background: var(--color-2);
    border: 1px solid var(--color-3);
    border-radius: 0.5rem;
    padding: var(--space-2);
    text-decoration: none;
    text-align: center;
    box-shadow: 3px 3px var(--color-2);
    display: flex;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    width: 100%;
}
