@font-face {
    font-family: "Inter";
    src:
        local("Inter Regular"),
        local("Inter-Regular"),
        url("../fonts/Inter/static/Inter-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter Medium"),
        local("Inter-Medium"),
        url("../fonts/Inter/static/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter SemiBold"),
        local("Inter-SemiBold"),
        url("../fonts/Inter/static/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
