section.content h2 {
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

section.content .listings {
    margin-bottom: 1.5rem;
}

section.content .listings nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

section.content .listings .action-options {
    display: flex;
}

section.content .listings .action-options a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    font-size: 14px;
    text-decoration: none;
    border-radius: 0.25rem;
}

section.content .listings .action-options a:last-child {
    margin-left: 0.375rem;
}

section.content .listings a img {
    width: 1rem;
    margin-right: 0.375rem;
}

section.content .listings nav .send-invite {
    border: 1px solid var(--black);
    color: var(--black);
}

section.content .listings nav .send-invite img {
    filter: invert(33%) sepia(0%) saturate(21%) hue-rotate(186deg) brightness(97%) contrast(92%);
}

section.content .listings nav .new-event {
    background: #d8f3f7;
    border-radius: 0.25rem;
    border: 1px solid var(--black);
    color: var(--black);
}

section.content .listings nav .new-event img {
    filter: invert(0%) sepia(27%) saturate(2593%) hue-rotate(30deg) brightness(90%) contrast(87%);
}

section.content .listings .sort-options {
    display: flex;
}

section.content .listings .sort-option {
    display: block;
    font-size: 14px;
    border: 1px solid var(--black);
    border-radius: 0.25rem;
    background: none;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    margin-right: 0.375rem;
}

section.content .listings .sort-option.active {
    border: 1px solid var(--black);
    background: #f7ecd8;
    color: var(--black);
}

section.content .listings h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 0.375rem;
    margin-bottom: 1.5rem;
}

section.content .listings .event-row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.65rem 1.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid var(--dk-gray);
    border-radius: 0.25rem;
    background: #f4f4f4;
    box-shadow: 0 1px 8px -6px;
}

section.content .listings .title {
    font-weight: 500;
}

section.content .listings .event-specs {
    margin-top: 0.375rem;
    color: var(--dk-gray);
    font-size: 14px;
}

section.content .listings .event-specs p:first-child {
    margin-bottom: 0.375rem;
}

section.content .listings .event-group {
    margin-top: 3rem;
}

section.content .listings .event-group .event-row:last-child {
    margin-bottom: 0;
}

section.content .listings a.edit.btn,
section.content .listings a.more-info {
    font-size: 12px;
    color: var(--dk-gray);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

@media only screen and (max-width: 600px) {
    section.content .listings nav {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    section.content .listings .action-options {
        margin-bottom: 1.5rem;
        flex-direction: column;
    }

    section.content .listings nav .send-invite {
        margin-bottom: 0.375rem;
    }
    
    section.content .listings .action-options a:last-child {
        margin-left: 0;
    }

    section.content .listings .event-row {
        flex-direction: column;
    }
}