:root {
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 5rem;
    --space-5: 8rem;
    --space-6: 13rem;

    --color-1: hsl(205 10% 95%);
    --color-2: hsl(160 15% 90%);
    --color-3: hsl(160 15% 50%);
    --color-4: hsl(205 30% 35%);
}

/* color schemes */
.scheme-1 {
    --color-1: hsl(205 10% 95%);
    --color-2: hsl(160 15% 90%);
    --color-3: hsl(160 15% 50%);
    --color-4: hsl(205 30% 35%);
}

.scheme-2 {
    --color-1: hsl(30 10% 95%);
    --color-2: hsl(30 35% 90%);
    --color-3: hsl(60 100% 25%);
    --color-4: hsl(60 5% 25%);
}

.scheme-3 {
    --color-1: hsl(70 10% 92% / 1);
    --color-2: hsl(70 10% 87% / 1);
    --color-3: hsl(160 50% 35% / 1);
    --color-4: hsl(160 70% 20% / 1);
}

.scheme-4 {
    --color-1: hsl(0 0% 100%);
    --color-2: hsl(180 50% 95%);
    --color-3: hsl(45 100% 40%);
    --color-4: hsl(180 100% 20%);
}

.scheme-5 {
    --color-1: hsl(0 0% 17%);
    --color-2: hsl(0 0% 22%);
    --color-3: hsl(160 40% 50% / 1);
    --color-4: hsl(0 20% 85%);
}

.scheme-6 {
    --color-1: hsl(215 10% 20%);
    --color-2: hsl(180 30% 20%);
    --color-3: hsl(35 40% 50%);
    --color-4: hsl(35 20% 90%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: hsl(0 0% 17%);
        --color-2: hsl(0 0% 22%);
        --color-3: hsl(160 40% 50% / 1);
        --color-4: hsl(0 20% 85%);
    }
}

#colorCycle {
    cursor: pointer;
}
› #colorCycle:focus {
    outline: none;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: "IBM Plex Mono", Courier, monospace;
    color: var(--color-4);
    min-height: 100dvh;
    background: var(--color-1);
}

.js-enabled body {
    visibility: hidden;
}

body > .container {
    max-width: 720px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 600;
    color: var(--color-4);
    font-size: 1.6rem;
}

a {
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 600;
    text-decoration-color: inherit;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.site-header {
    padding: var(--space-5) 0;
}

.site-header h1.logo {
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: var(--space-3);
}

.site-header h1.logo button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border: none;
}

header .logo .accent {
    background: var(--color-2);
    color: var(--color-3);
}

.site-description {
    line-height: 1.5;
}

.featured-events {
    display: flex;
    justify-content: space-between;
}

.featured-event {
    border: 1px solid;
}

.featured-event .poster {
    width: 172px;
    height: 240px;
    object-fit: cover;
    border-bottom: 1px solid;
}

.featured-event .details {
    padding: var(--space-1);
}

.featured-event .details h3 {
    margin-bottom: var(--space-1);
}

.featured-event .details p {
    font-size: 1.4rem;
}

.sort-options {
    font-weight: 600;
}

.sort-options .option {
    display: inline-block;
    padding-right: 1ch;
    margin-right: var(--space-1);
}

.sort-options span.option {
    background: var(--color-4);
    color: var(--color-1);
}

.sort-options a.option {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.tags {
    margin-top: var(--space-3);
    color: var(--color-3);
}

.tags.dates {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
}

.tags .tag {
    text-decoration: none;
    font-weight: inherit;
    background: var(--color-2);
}

.tags.venues .tag,
.tags.titles .tag {
    display: block;
    margin-bottom: 0.5rem;
}

.tags.venues .tag:last-child {
    margin-bottom: 0;
}

.tags .tag:hover {
    background: var(--color-3);
    color: var(--color-1);
    cursor: pointer;
}

.event-group-header {
    display: flex;
    justify-content: space-between;
}

.event-group-header .back-to-top {
    color: var(--color-3);
}

.event-group-header .back-to-top svg {
    margin-right: 1ch;
    height: var(--space-2);
}

h2 {
    font-size: 2.8rem;
    margin-bottom: var(--space-2);
}

.heading-details {
    display: flex;
    font-size: 1.4rem;
    margin-bottom: var(--space-3);
}

.heading-details .separator {
    margin: 0 1ch;
}

.heading-details .num-events {
    font-style: italic;
}

section {
    margin-bottom: var(--space-5);
}

.event-group {
    margin-bottom: var(--space-5);
}

li.event-row {
    list-style-type: none;
}

li.event-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--space-1) 0;
    border-bottom: 1px solid var(--color-2);
    line-height: 1.5;
}

li.event-row:last-child {
    border-bottom: none;
}

li.event-row > div.time,
li.event-row > div.start-date {
    flex: 0 0 180px;
    padding-right: 4ch;
}

li.event-row .details {
    flex: 1;
}

li.event-row .title,
li.event-row .highlighted {
    font-weight: 600;
}

li.event-row .highlighted {
    color: var(--color-3);
    background: var(--color-2);
}

li.event-row .title {
    color: var(--color-4);
}

li.event-row .extras {
    font-style: italic;
    text-transform: lowercase;
}

li.event-row .url {
    color: var(--color-3);
    font-weight: inherit;
}

li.event-row > div.start-date .month-year {
    font-weight: inherit;
}

@media only screen and (max-width: 540px) {
    body {
        padding: var(--space-2);
    }

    .site-header {
        padding: var(--space-3) 0 var(--space-5);
    }

    .tags.dates {
        grid-template-columns: repeat(5, 1fr);
    }

    .tags.venues {
        grid-template-columns: 1fr;
    }

    li.event-row > div.time,
    li.event-row > div.start-date {
        flex: 0 0 120px;
    }

    li.event-row > div.start-date .month-year {
        display: block;
    }
}
