:root {
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 5rem;
    --space-5: 8rem;
    --space-6: 13rem;

    --color-1: hsl(25 20% 97%);
    --color-2: hsl(25 30% 92%);
    --color-3: hsl(205 40% 45%);
    --color-4: hsl(205 50% 25%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: "IBM Plex Mono", Courier, monospace;
    color: var(--color-4);
    min-height: 100dvh;
    background: var(--color-1);
}

body:has(nav.admin-bar) > .container {
    padding-top: 59.5px;
}

body > nav {
    background: var(--color-1);
    box-shadow: 0px 4px 8px -8px var(--color-4);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

body > nav > .container {
    margin: 1rem auto;
}

nav.admin-bar {
    background: var(--color-1);
    color: var(--color-2);
    padding: 0 var(--space-2);
    font-size: 1.4rem;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 8px -8px var(--color-4);
    z-index: 2;
}

nav.admin-bar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    gap: var(--space-2);
    margin: 1.5rem auto;
}

nav.admin-bar .container span.username {
    color: var(--color-4);
}

nav.admin-bar .container span.separator {
    color: var(--color-3);
}

nav.admin-bar .left,
nav.admin-bar .right {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

nav.admin-bar .left a {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

nav.admin-bar a.dashboard-button::after {
    content: "Admin Dashboard";
}

nav.admin-bar a.new-event-button {
    padding: 0.25rem 1rem;
    background: var(--color-2);
    border-radius: 4px;
}

nav.admin-bar a.new-event-button::after {
    content: "New Event";
}

nav.admin-bar a {
    color: var(--color-4);
    font-weight: 600;
    text-decoration: none;
}

.menu {
    cursor: pointer;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    background: none;
    border: none;
    width: 2rem;
}

.menu:focus {
    background-color: red;
}

.menu .line {
    width: 100%;
    height: 2px;
    background: var(--color-1);
}

.menu .line:first-child {
    background: var(--color-2);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
    margin: 2rem auto;
}

main {
    flex: 1;
}

footer {
    margin: var(--space-5) 0 var(--space-3);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 600;
    color: var(--color-4);
    font-size: 1.6rem;
}

a {
    cursor: pointer;
    color: var(--color-4);
    font-weight: 600;
    text-decoration-color: var(--color-3);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

a:has(svg) {
    z-index: 1;
}

a.button {
    border: 1px solid var(--color-4);
    box-shadow: 3px 3px var(--color-2);
}

input {
    padding: var(--space-1);
    border-radius: 4px;
    border: 1px solid var(--color-4);
    font-size: inherit;
    font-family: inherit;
    background: #fff;
    box-shadow: 3px 3px var(--color-2);
}

input:focus {
    outline: none;
    border: 1px solid var(--color-3);
}

input[type="submit"] {
    cursor: pointer;
    background: var(--color-3);
    color: #fff;
    border: 1px solid var(--color-4);
}

input#create_new_event,
input#update_event {
    width: 100%;
}

.site-header {
    margin: var(--space-5) 0 var(--space-4);
}

.site-header h1.logo {
    font-size: 3.6rem;
    font-weight: 600;
}

.site-header h1.logo:has(+ p) {
    margin-bottom: var(--space-2);
}

header .logo .accent {
    color: var(--color-3);
    background: var(--color-2);
}

.site-description {
    line-height: 1.6;
}

.featured-events {
    display: flex;
    justify-content: space-between;
}

.featured-event {
    border: 1px solid;
}

.featured-event .poster {
    width: 172px;
    height: 240px;
    object-fit: cover;
    border-bottom: 1px solid;
}

.featured-event .details {
    padding: var(--space-1);
}

.featured-event .details h3 {
    margin-bottom: var(--space-1);
}

.featured-event .details p {
    font-size: 1.4rem;
}

.sort-options {
    display: flex;
    gap: var(--space-1);
    margin-bottom: var(--space-3);
}

.sort-options a.option {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 3px 3px var(--color-2);
    border: 1px solid var(--color-4);
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.sort-options a.option[data-active-sort="true"] {
    cursor: default;
    background: var(--color-3);
    color: var(--color-1);
    pointer-events: none;
    user-select: none;
}

.tags {
    margin-bottom: var(--space-4);
    color: var(--color-3);
}

.tags.dates {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
}

.tags .tag {
    text-decoration: none;
    font-weight: inherit;
    background: var(--color-2);
}

.tags.venues .tag,
.tags.titles .tag {
    display: block;
    margin-bottom: 0.5rem;
}

.tags.venues .tag:last-child {
    margin-bottom: 0;
}

.tags .tag:hover {
    background: var(--color-3);
    color: var(--color-1);
    cursor: pointer;
}

.event-group-header {
    display: flex;
    justify-content: space-between;
}

.event-group-heading .city {
    display: inline-block;
    color: var(--color-4);
    font-size: 1.4rem;
    margin-bottom: var(--space-1);
    text-transform: uppercase;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: var(--space-1);
}

h2 + p {
    margin-bottom: var(--space-3);
}

.heading-details {
    display: flex;
    font-size: 1.4rem;
    margin-bottom: var(--space-3);
}

.heading-details .separator {
    margin: 0 1ch;
}

.heading-details .num-events {
    font-style: italic;
}

/* event styles */

.event-group {
    padding-top: var(--space-2);
    margin-bottom: var(--space-4);
}

li.event-row {
    list-style-type: none;
}

li.event-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--space-1) 0;
    border-bottom: 1px solid var(--color-2);
    line-height: 1.6;
}

li.event-row:last-child {
    border-bottom: none;
}

li.event-row > div.time,
li.event-row > div.start-date {
    flex: 0 0 180px;
    padding-right: 4ch;
}

li.event-row .details {
    flex: 1;
}

li.event-row .title,
li.event-row .highlighted {
    font-weight: 600;
}

li.event-row .highlighted {
    color: var(--color-3);
    background: var(--color-2);
}

li.event-row .city {
    background: var(--color-2);
    color: var(--color-4);
    font-style: italic;
    font-weight: 600;
}

li.event-row .title {
    color: var(--color-4);
}

li.event-row .extras {
    font-style: italic;
}

li.event-row .url {
    color: var(--color-3);
    font-weight: inherit;
}

li.event-row > div.start-date .month-year {
    font-weight: inherit;
}

/* event admin options */

.event-admin-options {
    display: flex;
    gap: var(--space-2);
    margin: var(--space-1) 0;
}

.event-admin-options a {
    text-decoration: none;
}

/* back to top button */

html[data-js-enabled="true"] a.back-to-top {
    bottom: -38.5px;
}

html[data-js-enabled="false"] a.back-to-top {
    bottom: 0;
}

a.back-to-top {
    position: fixed;
    font-size: 1.4rem;
    right: var(--space-2);
    background: var(--color-4);
    border-radius: 4px 4px 0 0;
    color: var(--color-1);
    padding: var(--space-1);
    text-decoration: none;
    transition: bottom 200ms ease;
}

/* active search */

html[data-js-enabled="true"] #active_search_container {
    display: block;
}

#active_search_container {
    display: none;
    position: relative;
}

#active_search_container img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#active_search_container #spinner {
    border: 2px solid var(--color-2);
    border-top: 2px solid var(--color-3);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 13px;
    top: 13px;
    display: none;
}

#active_search_container #spinner.htmx-request {
    display: block;
}

#active_search_container:has(#spinner.htmx-request)
    #active_search::-webkit-search-cancel-button,
#active_search_container:has(#spinner.htmx-request)
    #active_search::-webkit-search-decoration,
#active_search_container:has(#spinner.htmx-request)
    #active_search::-webkit-search-results-button,
#active_search_container:has(#spinner.htmx-request)
    #active_search::-webkit-search-results-decoration {
    display: none;
}

#active_search_container:has(#spinner.htmx-request) #active_search::-ms-clear,
#active_search_container:has(#spinner.htmx-request) #active_search::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#active_search {
    padding-left: 44px;
    width: 100%;
}

/* htmx loading styles  */

section.event-data {
    opacity: 1;
    margin-top: var(--space-4);
}

section.event-data.htmx-request {
    opacity: 0;
}

main:has(section.event-data.htmx-request) p.loading {
    display: block;
}

p.loading {
    margin-top: var(--space-4);
    display: none;
}

/* mobile styles */

@media only screen and (max-width: calc(720px + 4rem)) {
    body:has(nav.admin-bar) > .container {
        padding-top: calc(2rem + 59.5px);
    }

    body > .container {
        padding: var(--space-2);
        margin: 1rem auto;
    }

    nav.admin-bar .left,
    nav.admin-bar .right {
        gap: var(--space-1);
    }

    nav.admin-bar a.dashboard-button::after {
        content: "Admin";
    }

    nav.admin-bar a.new-event-button::after {
        content: "New";
    }

    .site-header {
        margin: var(--space-3) 0 var(--space-4);
    }

    li.event-row > div.time,
    li.event-row > div.start-date {
        flex: 0 0 120px;
    }

    li.event-row > div.start-date .month-year {
        display: block;
    }
}

@media only screen and (max-width: 680px) {
    .tags.dates {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media only screen and (max-width: 640px) {
    .tags.dates {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 590px) {
    .tags.dates {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media only screen and (max-width: 530px) {
    .tags.dates {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .tags.dates {
        grid-template-columns: repeat(5, 1fr);
    }
}
