* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::placeholder {
    color: var(--color-gray);
}

:root {
    /* sizing */
    --size-xs: 0.25rem;
    --size-sm: 0.5rem;
    --size-md: 1rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-2xl: 4rem;
    --size-3xl: 6rem;

    /* colors */
    --color-background: #fff;
    --color-primary: #000f0f;
    --color-secondary: #003f3f;
    --color-link: #008080;
    --color-lt-gray: #d3d3d3;
    --color-gray: #808080;
    --color-red: #cd5c5c;

    /* weights */
    --weight-semibold: 600;
    --weight-regular: 400;
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: var(--weight-regular);
    color: var(--color-secondary);
    min-height: 100dvh;
    padding: var(--size-lg);
}

main {
    flex: 1;
}

nav > *,
nav > div > * {
    margin-right: var(--size-sm);
    margin-bottom: 0;
}

nav > *:last-child {
    margin-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
    font-weight: var(--weight-semibold);
    margin-bottom: var(--size-md);
}

h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: var(--size-lg);
}

h1 ~ p:last-of-type,
p:has(+ form) {
    margin-bottom: var(--size-2xl);
}

a,
p,
span {
    line-height: 1.75;
}

a {
    color: var(--color-link);
    text-underline-offset: 2px;
}

a:has(> img) {
    display: inline-flex;
    align-items: center;
}

a > img {
    width: 1rem;
    margin-right: var(--size-xs);
    filter: invert(38%) sepia(18%) saturate(3447%) hue-rotate(141deg)
        brightness(100%) contrast(101%);
}

p {
    margin-bottom: var(--size-md);
}

a,
input[type="submit"] {
    cursor: pointer;
}

button,
input[type="submit"] {
    border: none;
    padding: var(--size-sm);
    background: var(--color-link);
    color: var(--color-background);
    font-size: 0.9rem;
    font-weight: var(--weight-light);
}

input:not([type="submit"]):focus {
    outline: none;
}

input[type="submit"]:focus {
    outline: 1px solid var(--color-primary);
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    padding: var(--size-lg) 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--weight-semibold);
    font-size: 1.2rem;
}

header > a > span {
    color: var(--color-link);
}

section > nav {
    margin-bottom: var(--size-xl);
    padding-bottom: var(--size-md);
    border-bottom: 1px solid var(--color-lt-gray);
}

section > nav > span,
section > nav > div:first-child > span {
    font-weight: var(--weight-semibold);
}

section > div {
    margin-bottom: var(--size-xl);
}

section > div > h2 {
    font-size: 1.2rem;
    font-weight: var(--weight-semibold);
    margin-bottom: var(--size-lg);
}

/* section > div > ul {
    margin-left: 1rem;
} */

section > div > ul > li {
    list-style-type: none;
    padding: 1rem 0;
    line-height: 1.75;
    position: relative;
    border-bottom: 1px solid #eee;
}

section > div > ul > li:first-child {
    padding-top: 0.5rem;
}

/* section > div > ul li::before {
    content: "•";
    position: absolute;
    left: -1rem;
} */

section > div > ul li:last-child {
    border-bottom: none;
}

section > nav:has(> div) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section > div > ul > li:has(> span) {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--size-lg);
}

section > div > ul > li:has(> span) span:last-child a:first-child {
    padding-right: var(--size-sm);
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-lg);
}

form p label {
    font-size: 0.9rem;
    margin-bottom: var(--size-sm);
}

form p input,
form input {
    border: none;
    border-bottom: 1px solid var(--color-lt-gray);
    font-size: 1rem;
    font-family: inherit;
    font-weight: var(--weight-light);
    padding: var(--size-xs) 0;
}

form p:has(input#id_end_date) {
    display: none;
}

form input[type="checkbox"] {
    align-self: flex-start;
}

form > p:has(#id_continuous),
form > p:has(#id_end_date) {
    display: none !important;
}

form + h2 {
    margin-top: var(--size-3xl);
    margin-bottom: var(--size-md);
}

form + h2 + p {
    margin-bottom: var(--size-lg) !important;
}

form.inline-form {
    display: flex;
}

form.inline-form input:not([type="submit"]) {
    width: 100%;
    margin-right: var(--size-md);
}

form > div:has(input + a) {
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-lg);
}

.description {
    border: 1px solid var(--color-secondary);
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 8px -6px;
    border-radius: 4px;
}

/* --- responsive --- */

@media only screen and (max-width: 568px) {
    html {
        font-size: 90%;
    }

    body {
        padding: var(--size-md);
    }

    header {
        padding: var(--size-md) 0;
        margin-bottom: var(--size-md);
    }

    h1 + p:has(+ section > nav > div) {
        margin-bottom: var(--size-xl) !important;
    }

    section > nav:has(> div) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    section > nav:has(> div) > div:last-child {
        margin-bottom: var(--size-lg);
        display: flex;
        flex-direction: column;
    }

    section > nav:has(> div) > div:last-child a {
        margin-bottom: var(--size-sm);
        position: relative;
        left: -2px;
    }

    section > div > ul > li:has(> span) > span:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    section > div > ul > li:has(> span) > span:last-child > a:first-child {
        padding-right: 0;
    }
}
