{% extends 'main.html' %}

{% block content %}

    <h1>Send Invitation</h1>
    <p>Use the form below to send an invitation to volunteers. Enter the recipient's email address and click Send Invitation. The recipient will receive an email with a unique link to create their account.</p>

    <div class="content">
        <form class="inline-form" method="POST">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email" autocomplete="off" required />
            <input type="submit" value="Send" />
        </form>
    </div>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

{% endblock content %}
