{% extends 'main.html' %}

{% block subtitle %}
    Verify one-time passcode
{% endblock subtitle %}

{% block content %}

    <h1>Verify OTP</h1>
    <p>
        For your security, a one-time passcode has been sent to <strong>{{ email }}</strong>. The passcode will expire in 5 minutes. Please enter the passcode in the field below and click Verify to complete the verification process.
    </p>

    <div>
        <form class="inline-form" method="POST">
            {% csrf_token %}
            <input type="text"
                   name="otp"
                   autocomplete="off"
                   placeholder="ex. 012345"
                   required />
            <input type="submit" value="Verify" />
        </form>
    </div>

    {% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}

{% endblock content %}
