{% for date, events in grouped_events %}
    <div>
        <h3>{{ date | date:"D, M j" }}</h3>
        <ul>
            {% for event in events %} {% if event.url %}
                <li>
                    <span>{{ event.start_date | date:"f A" }}</span>
                    <a href="{{ event.url }}" target="_blank">
                        {{ event }} @
                        {{ event.venue }},
                        {{ event.city }} -
                        {{ event.admission_price }}
                    </a>
                    <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                </li>

            {% else %}
                <li>
                    <span>{{ event.start_date | date:"f A" }}</span>
                    <span>
                        {{ event }} @ {{ event.venue }}, {{ event.city }}
                    </span>
                    <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
{% endfor %}
