{% extends 'main.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Admin Dashboard</h1>
        <p>Welcome! As an administrator, you have the ability to create, edit, and delete event data, as well as invite new volunteers. You're cute and you're smart too.</p>
        <section class="admin event-list">
            <nav>
                <div>
                    <a href="{% url 'dashboard' sorting='by-date' %}">By Date</a>
                    <span class="active">By Venue</span>
                </div>
                <div>
                    <a class="btn" href="{% url 'send_invitation' %}">
                        <img src="{% static 'icons/send.svg' %}">
                        Send invitation
                    </a>
                    <a class="btn" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>

            {% include 'dashboard_listings_by_venue.html' %}
        </section>
    {% else %}
        <h1>Hey, you shouldn't be here!</h1>
    {% endif %}

{% endblock content %}
