{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Admin Dashboard</h1>
    <p>Welcome! As an administrator, you have the ability to create, edit, and delete event data, as well as invite new volunteers. You're cute and you're smart too.</p>
    <section class="content">
        <div class="listings">
            <nav>
                <div class="sort-options">
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-date' %}">By Date</a>
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-venue' %}">By Venue</a>
                    <span class="sort-option active">ABC</span>
                </div>
                <div class="action-options">
                    <a class="send-invite" href="{% url 'send_invitation' %}">
                        <img src="{% static 'icons/send.svg' %}">
                        Send invitation
                    </a>
                    <a class="new-event" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>

            {% include 'dashboard_listings_by_title.html' %}
        </div>
    </section>
{% else %}
    <h1>Hey, you shouldn't be here!</h1>
{% endif %}

{% endblock content %}