{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Admin Dashboard</h1>
    <p>Welcome! As an administrator, you have the ability to create, edit, and delete event data, as well as invite new volunteers. You're cute and you're smart too.</p>
    <section class="content">
        <div class="listings">
            <nav>
                <div class="sort-options">
                    <span class="sort-option active">By Date</span>
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-venue' %}">By Venue</a>
                </div>
                <div class="action-options">
                    <a class="send-invite" href="{% url 'send_invitation' %}">
                        <img src="{% static 'icons/send.svg' %}">
                        Send invitation
                    </a>
                    <a class="new-event" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>
            {% for date, events in grouped_events %}
                <div class="event-group">
                    <h3>{{ date | date:"M d, Y"}}</h3>
                    {% for event in events %}
                        <div class="event-row">
                            <div class="event-info">
                                <span class="title">{{ event }}</span>
                                <div class="event-specs">
                                    <span class="time">
                                        {{ event.start_date | date:"l, M d, Y" }} at
                                        {{ event.start_date | date:"g:i A" }},
                                    </span>
                                    
                                    {% if event.admission_price %}
                                        <span class="venue">{{ event.venue }},</span>
                                        <span class="admission">{{ event.admission_price }}</span>
                                    {% else %}
                                        <span class="venue">{{ event.venue }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <a class="edit btn" href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h1>Hey, you shouldn't be here!</h1>
{% endif %}

{% endblock content %}