{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Volunteer Dashboard</h1>
    <p>Hello! As a volunteer, you've been granted the ability to create, edit, and delete event listings for The List NC. Wield your power with care and grace. Your contributions and efforts are greatly appreciated!</p>

    <section class="content">
        <div class="listings">
            <nav>
                <div class="sort-options">
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-date' %}">By Date</a>
                    <span class="sort-option active">By Venue</span>
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-title' %}">ABC</a>
                </div>
                <div class="action-options">
                    <a class="new-event" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>

            {% for venue, events in grouped_events %}
                <div class="event-group">
                    <h3>{{ venue }}</h3>
                    {% for event in events %}
                        <div class="event-row">
                            <div class="event-info">
                                <p class="title">{{ event }}</p>
                                <div class="event-specs">
                                    <p>
                                        {{ event.start_date | date:"l, F d, Y" }} at
                                        {{ event.start_date | date:"g:i A" }}
                                    </p>
                                    
                                    {% if event.admission_price %}
                                        <p>{{ event.venue }}, {{ event.admission_price }}</p>
                                    {% else %}
                                        <p>{{ event.venue }}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <a class="edit btn" href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h1>Hey, you shouldn't be here!</h1>
{% endif %}

{% endblock content %}