{% for venue, events in grouped_events %}
    <div>
        <h3>{{ venue }}</h3>
        <ul>
            {% for event in events %} {% if event.url %}
                <li>
                    <span>{{ event.start_date | date:"M j" }}</span>
                    <a href="{{ event.url }}" target="_blank">
                        {{ event }} @
                        {{ event.start_date | date:"g:i A" }} -
                        {{ event.admission_price }}
                    </a>
                    <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                </li>

            {% else %}
                <li>
                    <span>{{ event.start_date | date:"M j" }}</span>
                    <span>
                        {{ event }} @
                        {{ event.start_date | date:"g:i A" }}
                    </span>
                    <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
{% endfor %}
