{% extends 'main.html' %}

{% block content %}

<h1>Verify OTP</h1>
<p>For your security, a one-time passcode has been sent to <strong>{{ email }}</strong>. The passcode will expire in 5 minutes. Please enter the passcode in the field below and click Verify to complete the verification process.</p>

<div class="content">
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="otp" autocomplete="off" placeholder="ex. 012345" required />
        <button type="submit">Verify</button>
    </form>
</div>

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

{% endblock content %}
