{% load static %}

{% if hx_request %}
    {% include 'events/search.html' %}
{% endif %}

{% if grouped_events|length == 0 %}
    <p>No events matching "{{ search_query }}"</p>
{% else %}
    <section class="tags titles">
        {% for title in titles %}
            <a href="#events_{{ title|slugify }}" class="tag">{{ title }}</a>
        {% endfor %}
    </section>

    <section class="events">
        {% for title, events, num_events in grouped_events %}
            <div id="events_{{ title|slugify }}" class="sort-group by-title">
                <hgroup>
                    <h2 class="title">{{ title }}</h2>
                    <p class="event-count">{{ num_events }} event{{ num_events|pluralize }}</p>
                </hgroup>
                <ul class="sort-group__events">
                    {% for event in events %}
                        <li class="event">
                            {% include 'events/event_by_title.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>
{% endif %}
