{% load static %}

{% if hx_request %}
    <title hx-swap-oob="true">Events by venue - The List NC</title>
{% endif %}

{% if grouped_events|length == 0 %}
    <p>No events matching "{{ search_query }}"</p>
{% else %}
    <section class="tags venues">
        {% for venue in venues %}
            <a href="#events_{{ venue|slugify }}" class="tag">{{ venue }}</a>
        {% endfor %}
    </section>

    <section class="events">
        {% for venue, events, num_events, city in grouped_events %}
            <div id="events_{{ venue|slugify }}" class="sort-group by-venue">
                <hgroup>
                    <p class="city">{{ city }}</p>
                    <h2 class="venue">{{ venue }}</h2>
                    <p class="event-count">{{ num_events }} event{{ num_events|pluralize }}</p>
                </hgroup>
                <ul class="sort-group__events">
                    {% for event in events %}
                        <li class="event">
                            {% include 'events/event_by_venue.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>
{% endif %}
