{% load static %}

{% if grouped_events|length == 0 %}
    <p>No events matching "{{ search_query }}"</p>
{% else %}
    <section class="tags dates">
        {% for date in dates %}
            <a href="#events_{{ date | date:'Ymd' }}" class="tag">{{ date | date:"n/j" }}</a>
        {% endfor %}
    </section>

    <section class="events">
        {% for date, events, num_events in grouped_events %}
            <div id="events_{{ date | date:'Ymd' }}" class="sort-group by-date">
                <hgroup>
                    <h2>
                        {{ date|date:"D" }},
                        <time datetime="{{ date|date:'m-d-Y' }}" class="date">{{ date|date:"M j" }}</time>
                    </h2>
                    <p class="event-count">{{ num_events }} event{{ num_events|pluralize }}</p>
                </hgroup>
                <ul class="sort-group__events">
                    {% for event in events %}
                        <li class="event">
                            {% include 'events/event_by_date.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>
{% endif %}
