{% if is_hx_request %}
    <nav id="sort-options" hx-swap-oob="innerHTML">
        <span class="option">By Date</span>
        <a class="option" href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
        <a class="option" href="{% url 'the_list' sorting='by-title' %}">By Title</a>
    </nav>
{% endif %}

{% if grouped_events|length == 0 %}
    <p>No events matching "{{ search_query }}"</p>
{% else %}
    <section class="dates tags">
        {% for date in dates %}
            <a href="#events_{{ date | date:'Ymd' }}" class="tag">{{ date | date:"n/j" }}</a>
        {% endfor %}
    </section>

    <section class="events">
        {% for date, events, num_events in grouped_events %}
            <div id="events_{{ date | date:'Ymd' }}" class="event-group">
                <header class="event-group-header">
                    <div class="event-group-heading">
                        <h2>{{ date | date:"D, M j" }}</h2>
                        <div class="heading-details">
                            <p class="num-events">{{ num_events }} event{{ num_events|pluralize }}</p>
                        </div>
                    </div>
                </header>
                <ul>
                    {% for event in events %}
                        <li class="event-row">
                            {% include 'events/partials/single_event_by_date.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>
{% endif %}
