<form id="active-search">
    {% csrf_token %}
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#204560"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
    <input
        type="search" name="search"
        placeholder="Filter events by keyword"
        value="{{ search_query }}"
        hx-post="{% url 'the_list' sorting %}"
        hx-target=".event-data"
        hx-trigger="input changed delay:500ms, search"
        autocomplete="off"
    >
</form>

<nav
    id="sort-options"
    class="sort-options"
    hx-boost="true"
    hx-target="section.event-data"
    hx-indicator="section.event-data"
    hx-swap="show:none"
>
    {% if "by-date" in request.path %}
        <span class="option">By Date</span>
        <a class="option" href="{% url 'the_list' sorting='by-venue' %}" classes="add active" classes-on="click">By Venue</a>
        <a class="option" href="{% url 'the_list' sorting='by-title' %}" classes="add active" classes-on="click">By Title</a>
    {% elif "by-venue" in request.path %}
        <a class="option" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
        <span class="option">By Venue</span>
        <a class="option" href="{% url 'the_list' sorting='by-title' %}">By Title</a>
    {% elif "by-title" in request.path %}
        <a class="option" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
        <a class="option" href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
        <span class="option">By Title</span>
    {% endif %}
</nav>

<p class="loading">Loading events...</p>
