{% load events_extras %}

<!-- date -->
<div class="start-date">
    <span class="day">{{ event.start_date | date:"D," }}</span>
    <a href="{% url 'the_list' sorting='by-date' %}#events_{{ event.start_date|date:'Ymd' }}" class="month-year">{{ event.start_date | date:"M j" }}</a>
</div>

<div class="details">
    <div>
        <!-- title -->
        <a href="{% url 'the_list' sorting='by-title' %}#events_{{ event.title|slugify }}" class="title">{{ event }}</a>

        <!-- time -->
        {% if not event.end_time %}
            <span class="time highlighted">{{ event.start_time | date:"fa" | remove_periods }}</span>
        {% elif "12am" in event.start_time|date:"fa"|remove_periods and "12am" in event.end_time|date:"fa"|remove_periods %}
            <span class="time highlighted">TBD</span>
        {% else %}
            <span class="time highlighted">{{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }}</span>
        {% endif %}

        <!-- extra info -->
        {% if event.admission_price and event.extra_info %}
            <span class="extras">{{ event.admission_price|lower }}, {{ event.extra_info }}</span>
        {% elif event.admission_price %}
            <span class="extras">{{ event.admission_price|lower }}</span>
        {% elif event.extra_info %}
            <span class="extras">{{ event.extra_info }}</span>
        {% endif %}

        <!-- url -->
        {% if event.url %}
            - <a href="{{ event.url }}" target="_blank" class="url">more info</a>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        {% include 'events/partials/event_admin_options.html' %}
    {% endif %}
</div>
