{% extends 'main.html' %} 

{% load events_extras %}

{% block content %}

    {% include 'heading.html' %}

    <section>
        <nav>
            <span class="sort-option active">By Date</span>
            <a
                class="sort-option"
                href="{% url 'the_list' sorting='by-venue' %}"
            >
                By Venue
            </a>
        </nav>

        {% for date, events in grouped_events %}
            <div>
                <h3>{{ date | date:"D, M j" }}</h3>
                <ul>
                    {% for event in events %} 
                    
                        {% if event.url %}
                    <li>
                        <a href="{{ event.url }}" target="_blank">
                            {{ event }}
                        </a> -
                        {{ event.venue }},
                        {{ event.city }},

                        <!-- format event time(s) -->
                        {% if event.start_time and event.end_time %}
                            {% if event.admission_price %}
                                {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }},
                            {% else %}
                                {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }}
                            {% endif %}
                        {% else %}
                            {% if event.admission_price %}
                                {{ event.start_time | date:"fa" | remove_periods }},
                            {% else %}
                                {{ event.start_time | date:"fa" | remove_periods }}
                            {% endif %}
                        {% endif %}

                        <!-- format admission price if it exists -->
                        {% if event.admission_price %}
                            {{ event.admission_price }}
                        {% endif %}
                    </li>

                    {% else %}
                        <li>
                            {{ event }} -
                            {{ event.venue }},
                            {{ event.city }},

                            <!-- format event time(s) -->
                            {% if event.start_time and event.end_time %}
                                {% if event.admission_price %}
                                    {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }},
                                {% else %}
                                    {{ event.start_time | date:"fa" | remove_periods }}-{{ event.end_time | date:"fa" | remove_periods }}
                                {% endif %}
                            {% else %}
                                {% if event.admission_price %}
                                    {{ event.start_time | date:"fa" | remove_periods }},
                                {% else %}
                                    {{ event.start_time | date:"fa" | remove_periods }}
                                {% endif %}
                            {% endif %}

                            <!-- format admission price if it exists -->
                            {% if event.admission_price %}
                                {{ event.admission_price }}
                            {% endif %}
                        </li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
