{% extends 'main.html' %}


{% block content %}

    <h1>Calendar</h1>
    <p>Explore a wide range of events in Nevada County, California. From community festivals and live performances to art exhibitions and farmer's markets, there's something for everyone to enjoy. Explore our comprehensive event listings to find the perfect activities that suit your interests.</p>
    <section class="sort-options">
        <a class="sort-option" href="{% url 'event_list_by_date' %}">Date</a>
        <span class="sort-option active">Venue</span>
    </section>
    <section>
    {% for venue, events in grouped_events %}
        <table>
            <thead>
                <tr>
                    <th>{{ venue }}</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.start_date | date:"M d, Y" }}</td>
                    <td>{{ event }}</td>
                    <td>{{ event.start_date | date:"g:i A" }}</td>

                    {% if event.admission_price == 0 %}
                        <td>Free</td>
                    {% elif event.admission_price > 0 %}
                        <td>${{ event.admission_price }}</td>
                    {% else %}
                        <td>?</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </section>

{% endblock content %}
