{% extends 'main.html' %}


{% block content %}

    <h1>
        Event listings.
    </h1>
    <p>
        Explore a wide range of events in Nevada County, California. From community
        festivals and live performances to art exhibitions and farmer's markets,
        there's something for everyone to enjoy.
    </p>

    <section>
        <nav>
            <a class="sort-option" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
            <span class="sort-option active">By Venue</span>
        </nav>

        {% for venue, events in grouped_events %}
            <div>
                <h3>{{ venue }}</h3>
                <ul>
                    {% for event in events %} {% if event.url %}
                        <li>
                            <span>{{ event.start_date | date:"M j" }}</span>
                            <a href="{{ event.url }}" target="_blank">
                                {{ event }} @
                                {{ event.start_date | date:"g:i A" }}

                                {% if event.admission_price %}

                                    - {{ event.admission_price }}

                                {% endif %}
                            </a>
                        </li>

                    {% else %}
                        <li>
                            <span>{{ event.start_date | date:"M j" }}</span>
                            <span>
                                {{ event }} @
                                {{ event.start_date | date:"g:i A" }}

                                {% if event.admission_price %}

                                    - {{ event.admission_price }}

                                {% endif %}
                            </span>
                        </li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
