<h1>What's happening in Nevada County?</h1>
<p>
    Welcome to The List NC! Feeling inspired by Graham Spencer's
    <a target="_blank" href="http://foopee.com/punk/the-list">The List</a>, we
    decided to build a public event database for Nevada County, CA. From
    festivals and farmer's markets to trivia nights and live performances,
    there's something for everyone.
</p>
<p>
    The database is maintained by a team of local volunteers and we do our
    best to make sure the information provided is accurate and up-to-date. If
    you're interested in contributing, see any inaccurate information, have
    an event that you'd like to share with us, or have any suggestions to help 
    improve this project, please don't hesitate to reach out at
    <a href="mailto:hello@thelistnc.org">hello@thelistnc.org</a>. Your support 
    is greatly appreciated and we hope you enjoy your visit.
</p>
