{% extends 'main.html' %}
{% load static %}

{% block subtitle %}
    Dashboard
{% endblock subtitle %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock css%}

{% block main_content %}
    <div class="buttons">
        <a class="button" href="{% url 'new_event_form' %}">Add new event</a>
        <a class="button" href="{% url 'send_invitation' %}">Send invitation</a>

        <form method="POST" action="{% url 'generate_post' %}" onsubmit="event.preventDefault(); this.submit();">
            {% csrf_token %}
            <button type="submit">Download Today's Instagram Post</button>
        </form>
    </div>
{% endblock main_content %}
