{% extends 'main.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        {% include 'dashboard/heading_volunteer.html' %}

        <section class="admin event-list">
            <nav>
                <div>
                    <span class="sort-option active">By Date</span>
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-venue' %}">By Venue</a>
                    <a class="sort-option" href="{% url 'dashboard' sorting='by-title' %}">By Title</a>
                </div>
                <div>
                    <a class="btn" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>

            {% include 'dashboard/event_list_by_date.html' %}
        </section>
    {% else %}
        <h1>Hey, you shouldn't be here!</h1>
    {% endif %}

{% endblock content %}
