{% extends 'main.html' %}
{% load static %}

{% block subtitle %}
    Dashboard
{% endblock subtitle %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock css%}

{% block main_content %}
    <div class="buttons">
        <a class="button" href="{% url 'new_event_form' %}">
            <img src="{% static 'icons/add.svg' %}" alt="Plus icon">
            Add new event
        </a>
        <a class="button" href="{% url 'send_invitation' %}">
            <img src="{% static 'icons/send.svg' %}" alt="Send icon">
            Send invitation
        </a>

        <form method="POST" action="{% url 'generate_post' %}">
            {% csrf_token %}
            <button type="submit">
                <img src="{% static 'icons/download.svg' %}" alt="Download icon">
                Download Instagram Post
            </button>
        </form>
    </div>
{% endblock main_content %}
