{% extends 'main.html' %}
{% load static %}

{% block subtitle %}
    Volunteer dashboard
{% endblock subtitle %}

{% block content %}

    {% if user.is_authenticated %}
        {% include 'dashboard/heading_volunteer.html' %}

        <section>
            <nav class="sort-options">
                <div>
                    <a href="{% url 'dashboard' sorting='by-date' %}">By Date</a>
                    <a href="{% url 'dashboard' sorting='by-venue' %}">By Venue</a>
                    <span>By Title</span>
                </div>
                <div>
                    <a class="btn" href="{% url 'new_event_form' %}">
                        <img src="{% static 'icons/plus.svg' %}">
                        Create new event
                    </a>
                </div>
            </nav>

            {% include 'dashboard/event_list_by_title.html' %}
        </section>
    {% else %}
        <h1>Hey, you shouldn't be here!</h1>
    {% endif %}

{% endblock content %}
