{% extends 'main.html' %}
{% load static %}

{% block subtitle %}
    Edit event
{% endblock subtitle %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block scripts %}
    <script defer src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}

{% block main_content %}
    <div>
        <h2>Edit Event</h2>
        <p>
            To edit the event data, please modify or add new values to the form below and click the Update Event button. To delete the event, click the Delete Event button.
        </p>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input onclick="return confirmUpdate()"
                id="update_event"
                type="submit"
                value="Update Event">
    </form>

    <section class="delete-event-container">
        <h2>Delete Event</h2>
        <p>
            If you would like to delete this event, click the Delete Event button below. You will be prompted to confirm the deletion of the listing. If you wish to proceed, click OK in the prompt.
        </p>
        <a id="delete_event"
            onclick="return confirmDelete()"
            href="{% url 'delete_event' uuid=uuid %}">Delete Event</a>
    </section>
{% endblock main_content %}
