{% load accounts_extras %}

<div class="admin event-group">
    <ul>
        {% for event in events %}
            <li>
                <div class="auth-event-row">
                    <p>
                        {% include 'events/event_by_title.html' %}
                    </p>
                    <div class="auth-options">
                        <a href="{% url 'template_event_form' uuid=event.uuid %}">Template</a>
                        <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
