{% load accounts_extras %}

{% for venue, events in grouped_events %}
    <div class="event-group">
        <h3>{{ venue }}</h3>
        <ul>
            {% for event in events %}
                <li>
                    <span>{% include 'events/event_by_venue.html' %}</span>
                    <span>
                        <a href="{% url 'template_event_form' uuid=event.uuid %}">Template</a>
                        <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
