{% extends 'main.html' %}
{% load static %}

{% block subtitle %}
    Create new event
{% endblock subtitle %}

{% block scripts %}
    <script defer src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div>
        <h1>New Event</h1>
        <p>
            To create a new event, please fill out the form below with all available data and click the Create New Event button.
        </p>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <input onclick="return checkForMultipleListings()"
                   type="submit"
                   value="Create New Event">
        </div>
    </form>
{% endblock content %}
