{% load accounts_extras %}

{% for date, events in grouped_events %}
    <div class="admin event-group">
        <h2>{{ date | date:"l, F j" }}</h2>
        <ul>
            {% for event in events %}
                <li>
                    <span>{% include 'events/event_by_date.html' %}</span>
                    <span>
                        <a href="{% url 'template_event_form' uuid=event.uuid %}">Template</a>
                        <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
