{% load accounts_extras %}

{% for date, events in grouped_events %}
    <div class="admin event-group">
        <h2>{{ date | date:"l, F j" }}</h2>
        {% for event in events %}
            <div class="auth-event-row">
                <details>
                    {% include 'events/event_by_date.html' %}
                </details>
                <div class="auth-options">
                    <a href="{% url 'template_event_form' uuid=event.uuid %}">Template</a>
                    <a href="{% url 'edit_event_form' uuid=event.uuid %}">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
