{% extends 'main.html' %}

{% block subtitle %}Farewell{% endblock %}

{% block main_content %}
    <p>Dear friends,</p>
    <p>After a lot of consideration, I've decided to shut this project down.</p>
    <p>I've long wanted something like The List NC to exist in Nevada County, something similar to <a target="_blank" href="http://www.foopee.com/punk/the-list/">The List</a> for the bay area, but with a wider scope than just music. A single, free resource where people can go and see what's happening in the community.</p>
    <p>While I still believe in this vision, I find myself unable to give it the attention it deserves and feel the need to step away. Over the last 8 months or so, a number of people have reached out to me expressing interest in doing something similar. I encourage you to do so. The community has expressed a real need for it.</p>
    <p>The contact email <a href="mailto:hello@thelistnc.org">hello@thelistnc.org</a> will remain active until the end of February. If you have any questions for me, feel free to get in touch.</p>
    <p>Thank you so much for your support and I wish you all the best in 2025.</p>
    <p>Nick, The List NC</p>
{% endblock %}
