{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block subtitle %}{% endblock %} - The List NC</title>

        <!-- preloads -->
        <link rel="preload" href="{% static 'fonts/IBMPlexMono-Regular.woff2' %}" type="font/woff2" as="font" crossorigin>
        <link rel="preload" href="{% static 'fonts/IBMPlexMono-SemiBold.woff2' %}" type="font/woff2" as="font" crossorigin>
        <link rel="preload" href="{% static 'css/main.css' %}" as="style">

        <!-- stylesheets -->
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        {% block css %}{% endblock css %}
        <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" />

        <meta name="theme-color" content="#457aa1" />
        <meta name="description"
              content="Find events in Nevada County with The List NC! Our volunteer-run database features everything from festivals and farmer's markets to trivia nights and live shows." />
        <meta property="og:url" content="https://thelistnc.org" />
        <meta property="og:type" content="website" />
        <meta property="og:title"
              content="The List NC | What's happening in Nevada County?" />
        <meta property="og:description"
              content="Find events in Nevada County with The List NC! Our volunteer-run database features everything from festivals and farmer's markets to trivia nights and live shows." />
        <meta property="og:image"
              content="{% static 'images/opengraph/og_image.png' %}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="thelistnc.org" />
        <meta property="twitter:url" content="https://thelistnc.org" />
        <meta name="twitter:title"
              content="The List NC | What's happening in Nevada County?" />
        <meta name="twitter:description"
              content="Find events in Nevada County with The List NC! Our volunteer-run database features everything from festivals and farmer's markets to trivia nights and live shows." />
        <meta name="twitter:image"
              content="{% static 'images/opengraph/og_image.png' %}" />

        <!-- analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-74KMVNTK53"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-74KMVNTK53");
        </script>

        <!-- htmx -->
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>

        <!-- custom scripts -->
        <script src="{% static 'js/events.js' %}" defer></script>
        {% block scripts %}{% endblock scripts %}
    </head>
    <body hx-history-elt>
        {% if user.is_authenticated %}
            <nav class="admin-options">
                <div class="container">
                    <div class="left">
                        {% if "/dashboard/" in request.path %}
                            <a href="{% url 'home' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#204560"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg> Home
                            </a>
                        {% else %}
                            <a href="{% url 'dashboard' %}" class="dashboard-button">Dashboard</a>
                        {% endif %}
                    </div>
                    <div class="right">
                        <span class="username">{{ user }}</span>
                        <span class="separator">|</span>
                        <a href="{% url 'logout' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#204560"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                        </a>
                    </div>
                </div>
            </nav>
        {% endif %}

        <div class="container">
            <header class="site-header">
                <h1 class="logo">The List <span class="accent">NC</span></h1>
                {% block header_content %}
                {% endblock header_content %}
            </header>
            <main>
                {% block main_content %}
                {% endblock main_content %}
            </main>
            <footer>
                <small>&copy; 2024 The List NC. All rights reserved.</small>
            </footer>

            <a href="#top" class="back-to-top">Back to top</a>
        </div>
    </body>
</html>
