<nav
    id="sort-options"
    class="sort-options"
    hx-boost="true"
    hx-target="section.event-data"
    hx-indicator="section.event-data"
    hx-swap="show:none"
>
    <a class="option" data-active-sort="{% if 'by-date' in request.path %}true{% else %}false{% endif %}" href="{% url 'the_list' sorting='by-date' %}">By Date</a>
    <a class="option" data-active-sort="{% if 'by-venue' in request.path %}true{% else %}false{% endif %}" href="{% url 'the_list' sorting='by-venue' %}">By Venue</a>
    <a class="option" data-active-sort="{% if 'by-title' in request.path %}true{% else %}false{% endif %}" href="{% url 'the_list' sorting='by-title' %}">By Title</a>
</nav>
